*{
    box-sizing: border-box;
}
.parent{
    width: 400px;
    height:600px;
    background-color: #ddd;
    margin: 50px auto;
    position: relative;
}
.child{
    width: 80%;
    height: 80%;
    position: absolute;
    left: 10%;
    top: 10%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.photo>img{
width: 100%;
    height: 35%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.one h2{
    color: #585858;
        position: absolute;
        left: 5%;
        letter-spacing: 5px;
        top: 15%;
}
.circle>img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 70%;
    top: 15%;
}
.two{
    width: 100%;
        height: fit-content;
        padding: 5px;
        position: absolute;
        left: 3%;
        top: 27%;
}
.green{
    color: rgb(0, 182, 182);
}
.three{
    width: 95%;
        padding: 5px;
        height: fit-content;
        position: absolute;
        left: 3%;
        top: 37%;
        color: #585858;
}
.four{
    width: 100%;
    height: fit-content;
    padding: 5px;
    position: absolute;
    left: 3%;
    top: 55%;
}
.five{
    width: 90%;
        height: 5%;
        background-color: #ddd;
        position: absolute;
        left: 5%;
        top: 67%;
}
.five::after{
    content: "";
        width: 60%;
        height: 100%;
        background-color: rgb(0, 182, 182);
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        position: absolute;
        left: 0;
        top: 0;
}
.six{
        width: 90%;
        height: fit-content;
        position: absolute;
        left: 5%;
        top: 77%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
}
.seven{
    color: #585858;
        width: 90%;
        height: fit-content;
        position: absolute;
        left: 5%;
        top: 85%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        text-transform: capitalize;
}